<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/login.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header__div" atributo="div-logo">
            <div class="header__div--logo">
                <img src="../public/images/logo-mercado-liebre.svg" alt="">
            </div>
            <div header__div--search>
                <input type="text" name="nombre" placeholder="buscar producto">
            <button><i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i></button>
            
        </div>
            
        </div>
       
        <div class="header__div">
           
            <p class="header__div-p">  <i class="fa-solid fa-hand-holding-dollar" style="color: #000000;"></i>Compra en cuotas y sin tarjeta de credito</p>
        </div>

        <div class="burger">
            <i class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i>
        </div>

        <div class="header__opciones">
            <ul class="header__opcion">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            
            <ul class="header__opcion">
                <li><a href=""><i class="fa-solid fa-id-card" style="color: #000000;"></i>Crea tu cuenta</a></li>
                <li><a href=""><i class="fa-solid fa-right-to-bracket" style="color: #000000;"></i>Ingresa</a></li>
                <li><a href=""><i class="fa-solid fa-basket-shopping" style="color: #000000;"></i>Mis compras</a></li>
            </ul>
        </div>
        
    </header>

    <main>
        <form action="">
            <input type="text" name="correo-electronico" id="" placeholder="Correo electronico">
            <input type="text" name="contraseña" placeholder='Contraseña'>
            <a href="#">Olvidaste tu contraseña? Hace click acá.</a>
            
            <input type="submit" value="Ingresar" class="form__ingresar">


        </form>
    </main>

    <footer class="footer-layout">
        <section class="footer-section">
            <i class="fa-solid fa-credit-card" style="color: #295fbc;"></i>
            <p class="section__p-titulo">
                Pagá con tarjeta o en efectivo
            </p>
            <p  class="section__p-subtitulo">
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!

            </p>
        </section>
        
        <section class="footer-section">
            <i class="fa-solid fa-gift" style="color: #295fbc;"></i>
            <p class="section__p-titulo">
                Envío gratis desde $ 2.500
            </p>
            <p  class="section__p-subtitulo">
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.

            </p>
        </section>
       
        <section class="footer-section">
            <i class="fa-solid fa-user-shield" style="color: #295fbc;"></i>
            <p class="section__p-titulo">
                Seguridad, de principio a fin
            </p>
            <p class="section__p-subtitulo">
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.

            </p>
        </section>

        <p class="footer__copyright">
            Copyright © 1999-2020 MercadoLiebre S.R.L
        </p>
    </footer>
</body>
</html>